body {
  background: linear-gradient(to right, #0b486b, #f56217);
  font-family: "Barriecito", system-ui;
  font-size: 30px;
}

.material-icons {
  font-size: 32px !important;
}

input {
  font-size: 20px !important;
}

.flex {
  display: flex;
  justify-content: center;
}

table {
  background-color: white;
  border-radius: 50px;
  border-spacing: 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0px 10px;
  padding: 5px;
  width: 50%;
}

th,
td {
  text-align: center;
}

button {
  margin: 0 auto;
  display: block;
}
