body {
  background: linear-gradient(to right, #0b486b, #f56217);
  font-family: "Barriecito", system-ui;
}

.flex {
  display: flex;
  justify-content: center;
}

table {
  background-color: white;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0px 10px;
  padding: 5px;
}

th,
td {
  text-align: center;
}

button {
  margin: 0 auto;
  display: block;
}
