body {
  background-color: floralwhite;
  font-family: "Barriecito", system-ui;
}

.flex {
  display: flex;
  justify-content: center;
}

table {
  background-color: white;
  border: 1px solid gray;
  border-radius: 50px;
  margin: 0px 10px;
  padding: 5px;
}

th,
td {
  text-align: center;
}
